h1{
    margin: 10%;
    color: red;
}
.firstClass{
    background-color: black;
}

.secondClass{
    background-color: blue;
}

#firstId{
    color: brown;
    background-color: aqua;
}

.borderClass{
    border-color: gray;
    border-style: solid;
    border-width: 30px; /*default is 3px or medium*/
    font-size: 20px;
    background-color: antiquewhite;
    border-color: blueviolet red blue green;
    outline-style: groove;
    outline-width: 5px;
    /* offset is the distance between the border and the element */
    outline-offset: 15px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*
body{
    background-image: url(pexels-s-migaj-747964.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.hello{
    background-color: aqua;
    color: blue;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
    width: 80%;
    margin: auto;

}

.hyperlink_1{
    color: purple;
    text-decoration: underline;
}