body {
    background-color: lightgray;
    background-image: url(imageforcss.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;

  }
  
  h1 {
    color: rgb(38, 154, 217);
    background-color: black;
    margin: 100px;
  }

  h3{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3:hover{
    color: red;
    background-color: black;
  }
  /* extarnal css*/

  li:first-child{
    color: pink;
  }
  li:nth-child(3){
    color: blueviolet;
  }
  .unoderedList{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .google_link:link{
    color: blue;
  }
  .google_link:visited{
    color: red;
  }